<h1>NEW GAME</h1>

<ul class="letters">
  <% @grid.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <input class="form-control" type="text" name="attempt">
  <input class="btn btn-info" type="submit" placeholder="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :grid, @grid %>
</form>
